@charset "utf-8";
/*
facebook likebox 用のcss
*/

.fan_box .page_stream {
    height: 400px;
    overflow-x: visible;
}


.uiVideoThumb , .external{
	border:solid 1px #ccc;
	padding:4px;
}


.uiStreamStory{
	padding-right:0;
}

.clearfix {
	display:block;
	clear:both;
}

.UIImageBlock{
	width:188px;
}

.UIImageBlock_Content{
	clear:both;
}

.UIImageBlock_MED_Content{
	clear:both;
}

.uiAttachmentDesc{
	clear:both;
	display:block;
	width:188px;
}

a.actorPhoto , a.actorName{
	display:none;
}