@charset "utf-8";
/*
Theme Name: オーダー太鼓衣装屋ドドーン　テーマ
Author: aldesign
Version: ver.1.0(2011/07/16)
Description: オーダー太鼓衣装屋ドドーン　ウェブサイトのテーマ。『twentyten』の子テーマ。
Template: twentyten
*/

@import url(../twentyten/style.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
	vertical-align:top;
}
body {
	line-height: 1;
}
h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-weight: normal;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#content {
	float: right;
	width:575px;
	margin: 0 50px 0 0;
}
#primary,
#secondary {
	float: left;
	overflow: hidden;
	width: 220px;
}
#secondary {
	clear: both;
}
#footer {
	clear: both;
	width: 100%;
}

/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

.one-column #content {
	margin: 0 auto;
	width: 640px;
}

/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #container {
	margin: 0 auto;
	width: 800px;
}


.single-attachment #content {
	margin: 0 65px 0 0;
	width: 800px;
}


/* =Fonts
-------------------------------------------------------------- */
body,
input,
textarea,
.page-title span,
.pingback a.url {
	font-family: Georgia, "Bitstream Charter", serif;
}
h3#comments-title,
h3#reply-title,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#site-title,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
.entry-meta,
.entry-title,
.entry-utility,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
input[type=submit] {
	font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
}
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}
code {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}


/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */
#access .menu-header, div.menu, #colophon, #branding, #main, #wrapper {
margin: 0 auto;
width: 868px;
}

#wrapper {
	background: url("img/common/contents_bg.jpg") repeat-y center top;
	margin-top: 0;
	padding:0;
	width:878px;
}

/* Structure the footer area */
#footer-widget-area {
	overflow: hidden;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}
#site-info {
	float: left;
	font-size: 14px;
	font-weight: bold;
	width: 700px;
}
#site-generator {
	float: right;
	width: 220px;
}


/* =Global Elements
-------------------------------------------------------------- */

/* Main global 'theme' and typographic styles */
body {
	background: url("img/common/body_bg.jpg") repeat center top;
	font-family:
	"Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", "Osaka",
	"Meiryo", "メイリオ", "MS P Gothic", "ＭＳ Ｐゴシック",
	sans-serif;
		font-size: 90%;
}
body,
input,
textarea {
	color: #666;
	font-size: 13px;
	line-height: 18px;
}
hr {
	background-color: #e7e7e7;
	border: 0;
	clear: both;
	height: 1px;
	margin-bottom: 18px;
}

/* Text elements */
p {
	margin-bottom: 0px;
}
ul {
	list-style: square;
	margin: 0 0 18px 1.5em;
}
ol {
	list-style: decimal;
	margin: 0 0 18px 1.5em;
}
ol ol {
	list-style: upper-alpha;
}
ol ol ol {
	list-style: lower-roman;
}
ol ol ol ol {
	list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
	margin-bottom: 0;
}
dl {
	margin: 0 0 24px 0;
}
dt {
	font-weight: bold;
}
dd {
	margin-bottom: 18px;
}
strong {
	font-weight: bold;
}
cite,
em,
i {
	font-style: italic;
}
big {
	font-size: 131.25%;
}
ins {
	background: #ffc;
	text-decoration: none;
}
blockquote {
	font-style: italic;
	padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
	font-style: normal;
}
pre {
	background: #f7f7f7;
	color: #222;
	line-height: 18px;
	margin-bottom: 18px;
	padding: 1.5em;
}
abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
sup,
sub {
	height: 0;
	line-height: 1;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
input[type="text"],
textarea {
	background: #f9f9f9;
	border: 1px solid #ccc;
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	padding: 2px;
}
a:link {
	color: #000;
	text-decoration:underline;
}
a:visited {
	color: #743399;
}
a:active,
a:hover {
	text-decoration:none;
}

/* Text meant only for screen readers */
.screen-reader-text {
	position: absolute;
	left: -9000px;
}


/* =Header
-------------------------------------------------------------- */

#header {
	width:868px;
	height:350px;
	margin:0 auto;
	position:relative;
	padding:0;
	/* background:url("img/common/top_bg.jpg") repeat left top; */
}


#site-title {
	position:absolute;
	top:0;
	left:9px;
	font-size: 30px;
	background:url("img/common/logomark.png") no-repeat left top;
	width:289px;
	height:204px;
	text-indent:-9999px;
}
#site-title a {
	color: #000;
	font-weight: bold;
	text-decoration: none;
	display:block;
}
#header #contact{
	position:absolute;
	top:150px;
	left:20px;
	width:255px;
	height:125px;
	background:url("img/common/telbox.jpg") repeat left top;
}

#header #contact img{
	position:absolute;
	top:85px;
	left:7px;
}

/* =Menu (Global navigation)
-------------------------------------------------------------- */

#access {
	background: #000;
	position:absolute;
	top:300px;
	left:0;
	margin: 0 auto;
	width:100%;
}
#access .menu-header,
div.menu {
	height:50px;
	font-size: 13px;
	margin-left: 0;
}
#access .menu-header ul{
	list-style: none;
	margin: 0;
}
#access .menu-header li{
	float: left;
	height:50px;
	position: relative;
	text-indent:-9999px;
}

#access li a {
	height:50px;
}



/* hover */

#access .menu-header li a{
	background:url("img/common/gnav_bg.jpg") no-repeat;
}

#access .menu-header li a:hover{
	background:url("img/common/gnav_bg_over.jpg") no-repeat ;
}

/* home */
#access .menu-header li#menu-item-103{
	width:130px;
}
#access .menu-header li#menu-item-103 a,
#access .menu-header li#menu-item-103 a:hover{
	background-position: 0 0;
}

/* about-costume */
#access .menu-header li#menu-item-208{
	width:165px;
}
#access .menu-header li#menu-item-208 a,
#access .menu-header li#menu-item-208 a:hover{
	background-position: -135px 0;
}

/* product */
#access .menu-header li#menu-item-220{
	width:130px;
}
#access .menu-header li#menu-item-220 a,
#access .menu-header li#menu-item-220 a:hover{
	background-position: -300px 0;
}

/* work */
#access .menu-header li#menu-item-233{
	width:130px;
}
#access .menu-header li#menu-item-233 a,
#access .menu-header li#menu-item-233 a:hover{
	background-position: -435px 0;
}

/* photoalbum */
#access .menu-header li#menu-item-273{
	width:150px;
}
#access .menu-header li#menu-item-273 a,
#access .menu-header li#menu-item-273 a:hover{
	background-position: -570px 0;
}

/* guide */
#access .menu-header li#menu-item-226{
	width:135px;
}
#access .menu-header li#menu-item-226 a,
#access .menu-header li#menu-item-226 a:hover{
	background-position: -725px 0;
}



#access .menu-header li li{
	text-indent:0px;
	height:38px;
	border-bottom:1px solid #aaa;
}


#access .menu-header li li a {
	color: #aaa;
	display: block;
	line-height: 38px;
	padding: 0 10px;
	text-decoration: none;
	background:#333 none;
}
#access .menu-header li li a:hover {
	background:#333 none;
}
#access ul ul {
	box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	float: left;
	width: 160px;
	z-index: 99999;
}
#access ul ul li {
	min-width: 160px;
}
#access ul ul a {
	background: #333;
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}
#access ul ul li a:hover{
	color: #fff;
}

#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #fff;
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #fff;
}





/* =Content
-------------------------------------------------------------- */

#main {
	zoom:1;
	clear: both;
	overflow: auto;
	width:100%;
	padding: 20px 0 20px 25px;
}

#main:after{
    content: ""; 
    display: block; 
    clear: both;
}

#content {
	margin-bottom: 36px;
}
#content,
#content input,
#content textarea {
	color: #333;
	font-size: 13px;
	line-height: 1.7em;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
	margin-bottom: 24px;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
	margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
	font-size: 15px;
	line-height: 21px;
}
#content code {
	font-size: 13px;
}
#content dt,
#content th {
	color: #000;
}
#content h1,
#content h2,
#content h3,
#content h4,
#content h5,
#content h6 {
	color: #000;
	line-height: 1.2em;
	margin: 0 0 10px 0;
}
#content table {
	border: 1px solid #999;
	margin: 0 -1px 24px 0;
	text-align: left;
	width: 575px;
}
#content tr th,
#content thead th {
	color: #888;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.2em;
	padding: 9px 24px;
	border-bottom: 1px solid #999;
	border-right: 1px solid #ccc;
}
#content tr th{
	width:70px;
}
#content tr td {
	border-right: 1px solid #999;
	border-bottom: 1px solid #ccc;
	padding: 6px 24px;
}
#content tr.odd td {
	background: #f2f7fc;
}
.hentry {
	margin: 0 0 48px 0;
}
.home .sticky {
	background: #f2f7fc;
	border-top: 4px solid #000;
	margin-left: -20px;
	margin-right: -20px;
	padding: 18px 20px;
}
.single .hentry {
	margin: 0 0 36px 0;
}
.page-title {
	color: #000;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 36px 0;
}
.page-title span {
	color: #333;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
}
.page-title a:link,
.page-title a:visited {
	color: #888;
	text-decoration: none;
}
.page-title a:active,
.page-title a:hover {
	color: #ff4b33;
}
#content .entry-title {
	color: #000;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	margin-bottom: 0;
}
.entry-title a:link,
.entry-title a:visited {
	color: #000;
	text-decoration: none;
}
.entry-title a:active,
.entry-title a:hover {
	color: #ff4b33;
}
.entry-meta {
	color: #888;
	font-size: 12px;
}
.entry-meta abbr,
.entry-utility abbr {
	border: none;
}
.entry-meta abbr:hover,
.entry-utility abbr:hover {
	border-bottom: 1px dotted #666;
}
.entry-content{
	margin-bottom:3em;
}
.entry-content,
.entry-summary {
	clear: both;
	padding: 5px 0 0 0;
}
#content .entry-summary p:last-child {
	margin-bottom: 12px;
}
.entry-content fieldset {
	border: 1px solid #e7e7e7;
	margin: 0 0 24px 0;
	padding: 24px;
}
.entry-content fieldset legend {
	background: #fff;
	color: #000;
	font-weight: bold;
	padding: 0 24px;
}
.entry-content input {
	margin: 0 0 24px 0;
}
.entry-content input.file,
.entry-content input.button {
	margin-right: 24px;
}
.entry-content label {
	color: #888;
	font-size: 12px;
}
.entry-content select {
	margin: 0 0 24px 0;
}
.entry-content sup,
.entry-content sub {
	font-size: 10px;
}
.entry-content blockquote.left {
	float: left;
	margin-left: 0;
	margin-right: 24px;
	text-align: right;
	width: 33%;
}
.entry-content blockquote.right {
	float: right;
	margin-left: 24px;
	margin-right: 0;
	text-align: left;
	width: 33%;
}
.page-link {
	clear: both;
	color: #000;
	font-weight: bold;
	margin: 0 0 22px 0;
	word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
	background: #f1f1f1;
	color: #333;
	font-weight: normal;
	padding: 0.5em 0.75em;
	text-decoration: none;
}
.home .sticky .page-link a {
	background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
	color: #ff4b33;
}
body.page .edit-link {
	clear: both;
	display: block;
}
#entry-author-info {
	background: #f2f7fc;
	border-top: 4px solid #000;
	clear: both;
	font-size: 14px;
	line-height: 20px;
	margin: 24px 0;
	overflow: hidden;
	padding: 18px 20px;
}
#entry-author-info #author-avatar {
	background: #fff;
	border: 1px solid #e7e7e7;
	float: left;
	height: 60px;
	margin: 0 -104px 0 0;
	padding: 11px;
}
#entry-author-info #author-description {
	float: left;
	margin: 0 0 0 104px;
}
#entry-author-info h2 {
	color: #000;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: 0;
}
.entry-utility {
	clear: both;
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
.entry-meta a,
.entry-utility a {
	color: #888;
}
.entry-meta a:hover,
.entry-utility a:hover {
	color: #ff4b33;
}
#content .video-player {
	padding: 0;
}


/* =Asides
-------------------------------------------------------------- */

.home #content .format-aside p,
.home #content .category-asides p {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
	margin-top: 0;
}
.home .hentry.format-aside,
.home .hentry.category-asides {
	padding: 0;
}
.home #content .format-aside .entry-content,
.home #content .category-asides .entry-content {
	padding-top: 0;
}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img,
.category-gallery .size-thumbnail img {
	border: 10px solid #f1f1f1;
	margin-bottom: 0;
}
.format-gallery .gallery-thumb,
.category-gallery .gallery-thumb {
	float: left;
	margin-right: 20px;
	margin-top: -4px;
}
.home #content .format-gallery .entry-utility,
.home #content .category-gallery .entry-utility {
	padding-top: 4px;
}


/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
	font-size: 140%;
	margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
	content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
	content: '\00a0\2192';
}


/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}
.wp-caption {
	background: #f1f1f1;
	line-height: 18px;
	margin-bottom: 20px;
	max-width: 632px !important; /* prevent too-wide images from breaking layout */
	padding: 4px;
	text-align: center;
}
.wp-caption img {
	margin: 5px 5px 0;
}
.wp-caption p.wp-caption-text {
	color: #888;
	font-size: 12px;
	margin: 5px;
}
.wp-smiley {
	margin: 0;
}
.gallery {
	margin: 0 auto 18px;
}
.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery-columns-2 .gallery-item {
	width: 50%;
}
.gallery-columns-4 .gallery-item {
	width: 25%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
	max-width: 92%;
	height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
	max-width: 84%;
	height: auto;
}
.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}
.gallery dl {
	margin: 0;
}
.gallery img {
	border: 10px solid #f1f1f1;
}
.gallery br+br {
	display: none;
}
#content .attachment img {/* single attachment images should be centered */
	display: block;
	margin: 0 auto;
}


/* =Navigation
-------------------------------------------------------------- */

.navigation {
	color: #888;
	font-size: 12px;
	line-height: 18px;
	overflow: hidden;
}
.navigation a:link,
.navigation a:visited {
	color: #888;
	text-decoration: none;
}
.navigation a:active,
.navigation a:hover {
	color: #ff4b33;
}
.nav-previous {
	float: left;
	width: 50%;
}
.nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#nav-above {
	margin: 0 0 18px 0;
}
#nav-above {
	display: none;
}
.paged #nav-above,
.single #nav-above {
	display: block;
}
#nav-below {
	margin: -18px 0 0 0;
}


/* =Comments
-------------------------------------------------------------- */
#comments {
	clear: both;
}
#comments .navigation {
	padding: 0 0 18px 0;
}
h3#comments-title,
h3#reply-title {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 0;
}
h3#comments-title {
	padding: 24px 0;
}
.commentlist {
	list-style: none;
	margin: 0;
}
.commentlist li.comment {
	border-bottom: 1px solid #e7e7e7;
	line-height: 24px;
	margin: 0 0 24px 0;
	padding: 0 0 0 56px;
	position: relative;
}
.commentlist li:last-child {
	border-bottom: none;
	margin-bottom: 0;
}
#comments .comment-body ul,
#comments .comment-body ol {
	margin-bottom: 18px;
}
#comments .comment-body p:last-child {
	margin-bottom: 6px;
}
#comments .comment-body blockquote p:last-child {
	margin-bottom: 24px;
}
.commentlist ol {
	list-style: decimal;
}
.commentlist .avatar {
	position: absolute;
	top: 4px;
	left: 0;
}
.comment-author {
}
.comment-author cite {
	color: #000;
	font-style: normal;
	font-weight: bold;
}
.comment-author .says {
	font-style: italic;
}
.comment-meta {
	font-size: 12px;
	margin: 0 0 18px 0;
}
.comment-meta a:link,
.comment-meta a:visited {
	color: #888;
	text-decoration: none;
}
.comment-meta a:active,
.comment-meta a:hover {
	color: #ff4b33;
}
.commentlist .even {
}
.commentlist .bypostauthor {
}
.reply {
	font-size: 12px;
	padding: 0 0 24px 0;
}
.reply a,
a.comment-edit-link {
	color: #888;
}
.reply a:hover,
a.comment-edit-link:hover {
	color: #ff4b33;
}
.commentlist .children {
	list-style: none;
	margin: 0;
}
.commentlist .children li {
	border: none;
	margin: 0;
}
.nopassword,
.nocomments {
	display: none;
}
#comments .pingback {
	border-bottom: 1px solid #e7e7e7;
	margin-bottom: 18px;
	padding-bottom: 18px;
}
.commentlist li.comment+li.pingback {
	margin-top: -6px;
}
#comments .pingback p {
	color: #888;
	display: block;
	font-size: 12px;
	line-height: 18px;
	margin: 0;
}
#comments .pingback .url {
	font-size: 13px;
	font-style: italic;
}

/* Comments form */
input[type=submit] {
	color: #333;
}
#respond {
	border-top: 1px solid #e7e7e7;
	margin: 24px 0;
	overflow: hidden;
	position: relative;
}
#respond p {
	margin: 0;
}
#respond .comment-notes {
	margin-bottom: 1em;
}
.form-allowed-tags {
	line-height: 1em;
}
.children #respond {
	margin: 0 48px 0 0;
}
h3#reply-title {
	margin: 18px 0;
}
#comments-list #respond {
	margin: 0 0 18px 0;
}
#comments-list ul #respond {
	margin: 0;
}
#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}
#respond .required {
	color: #ff4b33;
	font-weight: bold;
}
#respond label {
	color: #888;
	font-size: 12px;
}
#respond input {
	margin: 0 0 9px;
	width: 98%;
}
#respond textarea {
	width: 98%;
}
#respond .form-allowed-tags {
	color: #888;
	font-size: 12px;
	line-height: 18px;
}
#respond .form-allowed-tags code {
	font-size: 11px;
}
#respond .form-submit {
	margin: 12px 0;
}
#respond .form-submit input {
	font-size: 14px;
	width: auto;
}


/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
	list-style: none ;
	margin-left: 0;
}
.widget-area ul li{
}
.widget-area ul ul {
	list-style: none;
	margin-left: 1.3em;
}
.widget-area select {
	max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
	width: 60%;
}
.widget_search label {
	display: none;
}
.widget-container {
	margin: 0 0 18px 0;
}
.widget-title {
	color: #222;
	font-weight: bold;
}
.widget-area .entry-meta {
	font-size: 11px;
}
#wp_tag_cloud div {
	line-height: 1.6em;
}
#wp-calendar {
	width: 100%;
}
#wp-calendar caption {
	color: #222;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 4px;
	text-align: left;
}
#wp-calendar thead {
	font-size: 11px;
}
#wp-calendar thead th {
}
#wp-calendar tbody {
	color: #aaa;
}
#wp-calendar tbody td {
	background: #f5f5f5;
	border: 1px solid #fff;
	padding: 3px 0 2px;
	text-align: center;
}
#wp-calendar tbody .pad {
	background: none;
}
#wp-calendar tfoot #next {
	text-align: right;
}
.widget_rss a.rsswidget {
	color: #000;
}
.widget_rss a.rsswidget:hover {
	color: #ff4b33;
}
.widget_rss .widget-title img {
	width: 11px;
	height: 11px;
}


/* main_banner( to contact form ) */
.mainbanner li{
	margin-bottom: 15px;
}

.mainbanner li.contact{
	margin:10px 0;
}

.mainbanner li a{
	display:block;
}

.mainbanner li img {
	padding-bottom: 5px;
}


/* item list (nav_menu-3) */
.widget-area  #nav_menu-3{
	margin-bottom:20px;
}

.widget-area  #nav_menu-3 h3{
	background:url("img/common/submenu_itemlist_header.jpg") no-repeat left top;
	width:220x;
	height:34px;
	text-indent:-9999px;
}

.widget-area .menu-itemlist-container{
	background:url("img/common/submenu_itemlist_footer.jpg") no-repeat left bottom;
	padding-bottom:5px;
}


#main .widget-area .menu-itemlist-container ul{
	border-right:2px solid #2091BD;
	border-left:2px solid #2091BD;
	padding:10px 10px 5px 10px;
}

.widget-area ul#menu-itemlist li{
	background:url("img/common/icon_itemlist01.gif") no-repeat left 0.3em;
	padding-left:14px;
	margin-bottom:5px;
}


/* order guidelist (nav_menu-4) */
.widget-area  #nav_menu-4{
	margin-bottom:20px;
}

.widget-area  #nav_menu-4 h3{
	background:url("img/common/submenu_ttl_guidde.jpg") no-repeat left top;
	width:220x;
	height:21px;
	text-indent:-9999px;
	margin-bottom:10px;
}

.widget-area  #nav_menu-4 .menu-guidemenu-container{
	padding:15px 10px 10px 10px;
	background:#EFE8E4;
}

.widget-area ul#menu-guidemenu li{
	background:url("img/common/icon_list01.gif") no-repeat left 0.4em;
	padding-left:10px;
	margin-bottom:5px;
}


/* advise (text-3) */
.widget-area  #text-3{
	margin-bottom:10px;
}

.widget-area  #text-3 h3{
	display:none;
}


/* company (nav_menu-5) */
.widget-area  #nav_menu-5{
	margin-bottom:20px;
}

.widget-area  #nav_menu-5 h3{
	display:none;
}

.widget-area  #nav_menu-5 .menu-company_menu-container{
	padding:0 10px;
}

.widget-area ul#menu-company_menu li{
	background:url("img/common/icon_list02.gif") no-repeat left 0.4em;
	padding-left:10px;
	margin-bottom:5px;
}

/* facebook (text-4)*/
.widget-area  li#text-4{
	margin-bottom:20px;
}

.widget-area  li#text-4 .textwidget{
	border-bottom:1px solid #3B5998;
}

/* linklist (linkcat-2) */
.widget-area  #linkcat-2 h3{
	display:none;
}

.widget-area  #linkcat-2 li{
	text-align:center;
	margin-bottom:5px;
}

.widget-area  #linkcat-2 li a{
	display:block;
}

.widget-area  #linkcat-2 li img{
	display:block;
}


/* Main sidebars */
#main .widget-area ul {
	margin-left: 0;
	padding: 0;
}
#main .widget-area ul ul {
	margin-left:0;
	padding: 0;
}
#primary {
}
#secondary {
}

/* Footer widget areas */
#footer-widget-area {
}


/* =Common layout contents
-------------------------------------------------------------- */

/* bredcrumb */
#bredcrumb{
	font-size:12px;
	margin-bottom:10px;
}

#content #pagetitle h2{
	margin-bottom:20px;
}

#content #pagetitle_bg h2{
	background:url("img/contents/pagetitle_bg.jpg") no-repeat left top;
	padding:15px 0 13px 28px;
	font-weight:bold;
}

#content h3{
	background: url("img/common/subttl_bg.jpg") repeat-y left top;
	border-bottom:1px solid #666;
	padding:10px 0 6px 20px;
	margin-bottom:20px;
	font-size:17px;
	color:#000;
	font-weight:bold;
}

#content h4{
	font-weight:bold;
	font-size:16px;
	background: url("img/common/subttl_bg.jpg") no-repeat 2px top;
	margin-bottom:10px;
	padding:3px 0 0 18px;
}

#content h5{
	font-weight:bold;
	font-size:14px;
}

#content .prg{
	margin-bottom:4em;
}

#content .prg_bd{
	padding-bottom:2em;
	margin-bottom:4em;
	border-bottom:1px dotted #ccc;
}

#content .prg_pd{
	margin-bottom:2em;
}

#content p{
	margin-bottom:0;
}

#content p + p{
	margin-top:1em
}

#content p + h3{
	margin-top:3em
}

#content p + h4{
	margin-top:2em
}

#content p + .prg{
	margin-top:2em
}

#content p + table{
	margin-top:1em
}

#content .column + p{
	margin-top:1em
}

#content ul{
	margin-bottom:0;
}

/* contact block */
.contact_area .column{
	margin-bottom:25px;
}

#content .contact_area .column h3{
	background:none;
	padding:0;
	border:0;
	margin-bottom:10px;
	color#333;
}

.btn_contact{
	margin:20px 0 10px 0;
	text-align:center;
}

.contact{
	margin-bottom:10px;
}

#contact_block{
	zoom:1;
	overflow:auto;
	width:545px;
	padding:15px;
	background:#f0e8e5;
}

#contact_block p{
	margin-bottom:0;
	line-height:1.2em;
}

#contact_block .txtblock{
	float:left;
}

#contact_block .txtblock .telbox{
	margin-top:10px;
}

#content #contact_block h3{
	font-size:18px;
	font-weight:bold;
	margin-bottom:5px;
	line-height:1.4em;
	background:none;
	border:none;
	padding:0;
	color:#333;
}

#contact_block .photoblock{
	float:left;
	margin-left:35px;
}

p.link , a.link{
	background:url("img/common/icon_arrow01.jpg") no-repeat left 0.4em;
	padding-left:15px;
}


/* common table */
#content table{
	border-collapse: separate;
	width:575px;
}

#content table th{
	background:url("img/common/table_bg.jpg") no-repeat left top;
	color:#0D4766;
}

#content table th , #content table td{
	padding-left:15px;
}

#content table thead th{
	background:none;
	width:auto;
}


/* column block */
.column{
	padding:13px 15px 10px 15px;
	background:#ddf2f5;
	margin-bottom:2em;
}

.column02{
	border:5px solid #ddf2f5;
	padding:10px 15px;
	margin-bottom:2em;
}

/* =Productpage contents (parent-pageid-134)
-------------------------------------------------------------- */
.parent-pageid-134 .entry-content{
	font-size:13px;
	line-height:1.8em;
}

.parent-pageid-134 #content #post h3{
	/*
	background:url("img/contents/subtitle_bg.jpg") no-repeat left top;
	border-bottom:1px solid #297493;
	color:#104b6b;
	*/
	background:none;
	background-color:#fdf6bf;
	border-bottom:2px solid #d04524;
	padding:13px 0 9px 10px;
	margin-bottom:20px;
	font-size:19px;
	color:#d04524;
	font-weight:bold;
}

.parent-pageid-134 #content p + h3 {
	margin-top:1em;
}

#content table.product{
	margin-bototm:2em;
	border:none;
}

#content table.product th , #content table.product td{
	padding:0;
	border:none;
}

#content table.product_photo{
	width:250px;
	text-align:center;
	border:none;
	margin-right:15px;
}

#content table.product .mainphoto td{
	padding-bottom:5px;
	line-height:1.4em;
	xtext-align:center;
}

.product_photo .mainphoto img{
	width:250px;
	border:1px solid #999;
}

.entry-content .subphoto{
	line-height:1.4em;
	text-align:center;
}

.product_photo .subphoto img{
	width:120px;
	border:1px solid #999;
}

#content table.product .mainphoto td.description{
	padding:0;
	min-height:340px;
	vertical-align:top;
	line-height:1.8em;
	text-align:left;
}

#content .detail{
	padding-bottom:3em;
	margin-bottom:3em;
	border-bottom:1px dotted #ccc;
}

#content .detail table{
	margin-bottom:2em;
}

#content .detail table th , #content .detail table td{
	padding:5px 15px;
	border-bottom: 1px solid #999999;
	border-right: 1px solid #CCCCCC;
}

/* =Showcase contents 
-------------------------------------------------------------- */
ul.worklist{
	list-style:none;
	margin:2em 0 0 0;
}

ul.worklist li{
	overflow:auto;
	clear:both;
	padding-bottom:20px;
	margin-bottom:20px;
	border-bottom:1px dotted #999;
}

ul.worklist li .txtblock{
	width:355px;
	float:left;
	margin-left:10px;
}

ul.worklist li img{
	display: inline;
	width:200px;
	border:1px solid #999;
}

/* article page */
#content .category-showcase table , #content .category-showcase table td{
	border:none;
	padding:0;
	vertical-align:top;
}

#content .category-showcase table td.mainphoto{
	width:250px;
	padding-right:15px;
}

#content .category-showcase table td.subphoto{
	width:175px;
	padding-right:5px;
	text-align:center;
}

#content table td.subphoto{
	padding:0 3px;
}

#content .category-showcase table td.data{
	padding-bottom:30px;
	vertical-align:top ;
}


#content .category-showcase table td.mainphoto img , #content .category-showcase table td.subphoto img{
	border:1px solid #999;
}

/* article page */
.entry-content ul.menu li{
	margin-bottom:10px;
}

/* =gallery page
-------------------------------------------------------------- */
.ngg-gallery-thumbnail{
	width:185px;
	text-align:center;
	height:230px;
	overflow:hidden;
}

#content .ngg-gallery-thumbnail span{
	text-align: left;
	line-height:1.4em;
}

.gallery .ngg-gallery-thumbnail {
	height: 270px;
	margin-bottom: 10px;
}


/* =FAQ page
-------------------------------------------------------------- */

#content .faq p + h3 {
    margin-top: 1em;
}

#content .faq .column + h3 {
    margin-top: 3em;
}

#content .faq .q{
	font-size:18px;
	padding-right:5px;
	font-weight:bold;
	color:#297493;
}

#content .faq .a{
	font-size:18px;
	padding-right:5px;
	font-weight:bold;
	color:red;
}

#content .faq em {
	background: #fea;
	font-style: normal !important;
}


/* =guide page
-------------------------------------------------------------- */
#content p.arrow{
	margin-bottom:2em;
}

/* =Link page
-------------------------------------------------------------- */
#content .taiko-link ul{
	overflow:auto;
	margin:0 0 1em 0;
}

.taiko-link ul li{
	list-style:none;
	background:url("img/common/icon_arrow01.jpg") no-repeat 5px 0.6em;
	border-bottom:1px dotted #ccc;
	padding:0 0 5px 20px;
	margin-bottom:1em;
}


/* =form page
-------------------------------------------------------------- */
div.wpcf7{
	margin:1em 0 !important;
}

.entry-content .wpcf7 input{
	margin:0;
}

input.wpcf7-submit{
	padding:10px 30px;
	font-weight:bold;
}

/* =Top contents
-------------------------------------------------------------- */
#topcatch{
	background:url("img/top/top_catch.jpg") no-repeat left top;
	width:575px;
	height:260px;
	margin-bottom:10px;
}

#topcatch ul{
	list-style:none;
	margin:0;
	padding:165px 0 0 10px;
}

#topcatch ul li{
	float:left;
	margin-right:7px;
}

#topcatch ul li.end{
	margin-right:0px;
}

.home #content h2{
	margin:0 0 5px 0;
	line-height:1;
}

.home #itemlist{
	margin-bottom:5px;
}

.home #itemlist ul{
	list-style:none;
	overflow:auto;
	margin:0;
}

.home #itemlist ul li{
	width:185px;
	float:left;
	margin:0 8px 12px 0;
	xtext-align:center;
}

.home #itemlist ul li.end{
	margin-right:0;
}

.home #itemlist ul li img{
	margin-bottom:3px;
	display:block;
}

.home #content #itemlist ul li p{
	font-size:13px;
	line-height:1.2em;
	margin-bottom:0;
}

.home #advice{
	margin-bottom:10px;
}

.home #gallery{
	margin-bottom:10px;
}

/* blog feed */
.home #blogfeed:after{
	content: ""; 
	display: block; 
	clear: both;
}

.home #blogfeed #tencho_blog{
	width:280px;
	border:1px solid #F896AF;
	margin-right:10px;
	float:left;
}

.home #blogfeed #staff_blog{
	width:280px;
	border:1px solid #BDE19B;
	float:left;
}

.home #blogfeed dl {
	padding-bottom: 15px;
}

.home #blogfeed dl dd{
	padding:10px 10px 0 10px;
}


.home #blogfeed ul{
	list-style:none;
	margin-left:0;
}

.home #blogfeed ul li{
	background:url("img/common/icon_list02.gif") no-repeat left 0.4em;
	padding-left:10px;
	margin-bottom:5px;
	line-height:1.4em;
}


.home #customer{
	margin-bottom:2em;
}

.home #customer p{
	margin-bottom:5px;
}

/* =Footer
-------------------------------------------------------------- */

#footer {
	width:868px;
	margin-bottom: 20px;
	margin:0 auto;
	background:#fff;
}

#pagetop{
	background:#8CD4DF;
	height:30px;
	border-bottom:10px solid #06679F;
}

#pagetop p{
	float:right;
	background:url("img/common/icon_pagetop.jpg") no-repeat left 0.4em;
	padding-left:15px;
	font-size:11px;
	color:#fff;
	margin:8px 20px 0 0;
}

/* footer menu */
#footer-widget-area .widget-area {
	width:100%;
	margin:0;
	background:#000;
	height:50px;
	text-align:center;
}


#footer ul#menu-footer_menu{
	margin:15px 0 0 15px;
	clear:both;
	overflow:hidden;
	zoom:1;
}

#footer ul#menu-footer_menu li{
	float:left;
	border-right:1px solid #fff;
	padding-right:10px;
	margin-right:10px;
}

#footer ul#menu-footer_menu li a{
	color:#fff;
}


#footer #copyright{
	text-align:center;
	padding:5px 0;
}

#footer #foot_link{
	text-align:center;
	font-size:10px;
	padding-bottom:2px;
}

/* =Print Style (twentyten上書き追加）
-------------------------------------------------------------- */

@media print {
	body {
		background: url("img/common/body_bg.jpg") repeat center top !important;
		width:100%;
	}

#wrapper {
	background: url("img/common/contents_bg.jpg") repeat-y center top;
	margin-top: 0;
	padding:0;
	width:878px;
}

#header {
	width:868px;
	height:350px;
	margin:0 auto 0 auto;
	position:relative;
	padding:0;
	background:url("img/common/top_bg.jpg") repeat left top !important;
}


#site-title {
	position:absolute;
	top:0;
	left:9px;
	font-size: 30px;
	background:url("img/common/logomark.png") no-repeat left top;
	width:289px;
	height:204px;
	text-indent:-9999px;
}


	#wrapper {
		clear: both !important;
		display: block !important;
		float: none !important;
		position: relative !important;
	}
	#header {
		border-bottom: none;
	}
	#colophon {
		border-top: 2pt solid #000;
	}
	#site-title,
	#site-description {
		float: none;
		line-height: 1;
		margin: 0;
		padding: 0;
	}
	#site-title {
		font-size: 0pt;
	}
	.entry-content {
		font-size: 14pt;
		line-height: 1.6em;
		overflow:visible;
	}
	.entry-title {
		font-size: 21pt;
	}
	#access,
	#branding img,
	#respond,
	.comment-edit-link,
	.edit-link,
	.navigation,
	.page-link,
	.widget-area {
		display: block !important;
	}

.contact_area{
	clear:both;
}

#content {
	float: right !important;
	width:575px !important;
	margin: 0 50px 0 0 !important;
}
#primary,
#secondary {
	float: left !important;
	overflow: hidden !important;
	width: 220px !important;
}
#secondary {
	clear: both !important;
}
#footer {
	clear: both !important;
	width: 100% !important;
}

.ngg-galleryoverview{
	overflow:visible !important;
	height:auto;
}

.ngg-gallery-thumbnail-box{
	float:left;
	font-size:12px;
	line-height:1.4em;
}
	
	.wp-caption p {
		font-size: 11pt;
	}
	#site-info,
	#site-generator {
		float: none;
		width: auto;
	}
	#colophon {
		width: auto;
	}
	img#wpstats {
		display: none;
	}
	#site-generator a {
		margin: 0;
		padding: 0;
	}
	#entry-author-info {
		border: 1px solid #e7e7e7;
	}
	#main {
		display: block ;
	}
	.home .sticky {
		border: none;
	}
}


/* itemlist - singlepage */
.page-template-itemdetail-php .gallery img {
	border: 0 !important;
}

.page-template-itemdetail-php .gallery .gallery-item {
	margin-bottom: 20px;
	text-align: left;
}

.page-template-itemdetail-php .gallery .gallery-caption {
	margin: 0 8px 0 !important;
}


/* added in Jan.2013 */
/* home */
a#topcatch {
	display: block;
	background: url("img/top/top_catch.jpg") no-repeat left top;
	width: 575px;
	height: 260px;
	margin-bottom: 10px;
}

/* about-costume */
#local_navigation {
	margin-bottom: 20px;
}

#local_navigation.about-costume ul {
	margin-left: 0;
	list-style: none;
}

#local_navigation.about-costume li {
	float: left;
}

.clearfix {
	 zoom: 1;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

/* added in Apr.2013 */
.left {
	float: left;
}
.right {
	float: right;
}

.happi .detail .left,
.bottom .detail .left {
	width: 270px;
}

/* ギャラリー関連 */
.gallery .gallery-caption {
	color: #000;
}

/* Shutterbox 関連 */
#shName {
	display: none;
}
#shDisplay div#shCount {
	padding-top: 5px;
}

/* Contact Form 7 関連 */
span.wpcf7-list-item {
	margin-right: 1em;
}

/* WP-PageNavi 関連 */
.wp-pagenavi {
	margin-bottom: 3em !important;
}


/*
 * 2014.11.12追記
 */

/* NextGen Galleryの検索フォーム */
#gallery-search {
	text-align: right;
}

#gallery-search .link p {
	display: inline-block;
}

#gallery-search .link ul {
	display: inline-block;
	margin-left: 0;
}

#gallery-search .link li {
	display: inline-block;
	list-style: none;
}

.search .ngg-navigation {
	clear: both;
}


/*
モバイルフレンドリーテスト対応（2015.4.8）
*/
@media (max-width: 480px) {
	#access .menu-header, div.menu, #colophon, #branding, #main, #wrapper {
/*		margin: 0 auto;
		width: 100%;
*/	}
	#header {
		/*width: 100% !important;*/
	}
	#wrapper {
		/*max-width: 480px;
		margin: 0;*/
		/*width: 100%;*/
	}
	body {
		/*width: 100%;*/
	}
	#header {
		/*max-width: 100% !important;*/
	}
	#main {
/*		max-width: 100%;
		padding-right: 0;
		padding-left: 0;*/
	}
	#content {
/*		clear: both;
		float: none;
		width: 100%;*/
	}
	#content table {
		/*width: 100%;*/
	}
	#content .gallery {
		/*width: 100%;*/
	}
	#contact_block {
		/*width: 100%;*/
	}
	#primary {
/*		clear: both;
		float: none;
		width: 220px;*/
	}
	#primary img {
		/*max-width: 100%;*/
	}
	.home #topcatch {
		/*background-size: 100%;*/
	}
	.home #topcatch ul {
		/*display: none;*/
	}
}